.testblock{
    background-color: #FFF;
    border-radius: 1rem;
}

.testblock>h1{
    font-weight: 600;
}

#testpanels{
    display: flex;
}

.testpanel1>label, .testpanel2>button{
    display: block;
}

.testpanel1>label{
    color: #7F7F7F;
}

.testpanel2>button{
    padding: 0 0.5rem;
}

#list{
    width: 100%;
}

.btns_loadsave{
    padding: 0 0.5rem;
}

@media screen and (min-width: 0) and (max-width: 480px){
    html{
        font-size: 1.25rem;
    }

    .testblock{
        padding: 1rem;
        border-radius: 0;
        width: 100%;
    }
    
    #testpanels{
        flex-direction: column;
        width: 95%;
    }
    
    .testpanel2{
        padding-top: 0.5rem;
    }
    
    .testpanel1>label, .testpanel2>button{
        width: 100%;
    }
    
    .testpanel2>button{
        margin-bottom: 0.5rem;
        height: 2rem;
    }
    
    #inp{
        width: 100%;
        font-size: 1.5rem;
    }
    
    #list{
        height: 12rem;
        font-size: 1.5rem;
    }
    
    .btns_loadsave{
        margin: 1rem auto;
        display: block;
        height: 2rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .testblock{
        padding: 3rem;
    }
    
    .testblock>h1{
        margin-bottom: 1rem;
    }
    
    #testpanels{
        flex-direction: row;
        gap: 2rem;
    }
    
    .testpanel2{
        padding-top: 1.1rem;
    }
    
    .testpanel1>label{
        font-size: 0.9rem;
    }
    
    .testpanel2>button{
        margin-bottom: 1rem;
    }
    
    #inp{
        width: 16rem;
    }
    
    #list{
        height: 12rem;
    }
    
    .btns_loadsave{
        margin: 1rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 9999px){
    .testblock{
        padding: 3rem;
    }
    
    .testblock>h1{
        margin-bottom: 1rem;
    }
    
    #testpanels{
        flex-direction: row;
        gap: 2rem;
    }
    
    .testpanel2{
        padding-top: 1.1rem;
    }
    
    .testpanel1>label{
        font-size: 0.9rem;
    }
    
    .testpanel2>button{
        margin-bottom: 1rem;
    }
    
    #inp{
        width: 16rem;
    }
    
    #list{
        height: 24rem;
    }
    
    .btns_loadsave{
        margin: 1rem;
    }
}